@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Passion+One&display=swap');

body {
    width: 100%;
    margin: 0%;
    display: grid;
    grid-template-columns: 16% 50% auto; /* Three columns: sidebar, profile, quizzes */
}

/* Side Navigation Bar */
/**
#header {
    grid-column: 1;
    background-color: #00016B; 
    padding: 8%;
 
    height: 100%;
    padding-right: 25%;
	min-height: 100vh;
}
*/

#header {
    grid-column: 1;
    background-color: #00016B;
    padding: 2%;
    position: fixed; /* Set header to fixed position */
    top: 0; /* Position it at the top of the viewport */
    left: 0;
    width: 10%; /* Set the width explicitly */
    height: 100%; /* Make it cover the entire viewport height */
    padding-right: 4%;
}


#logo {
    width: 45%;
    margin-bottom: 3%;
    margin-top: 10%;
}

#nav {
    font-family: 'Passion One', cursive;
    padding-left: 0%;
}

#nav li {
    text-decoration: none;
    list-style: none;
    padding: 6%;
    background-color: white;
    font-size: 1.2rem; /*font size responsiveness not working */
    padding-left: 15%;
    left: 0;
}

#nav li a {
    text-decoration: none;
    color: #00016B; /* Dark blue */
}

#nav li a:hover {
    color: #1D55F0; /* Blue */
}

#nav li#active.active {
    background-color: #1D55F0; /* Blue */
}

#nav li#active.active a {
    color: white;
    background-color: #1D55F0; /* Blue */
}

#nav li#active.active a:hover {
    color: white;
}

#sign_out {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.7rem;
}

#sign_out:hover {
    color: #1D55F0; /* Blue */
}

/* User Profile */
#profile {
    grid-column: 2;
    background-color: #D4E5F5; /* Light blue */
}

#user {
	width: 35%;
    margin-bottom: 4%;
    margin-top: 7%;
	margin-left: 10%;
}

/* Quizzes */
#quizzes {
    grid-column: 3;
    background-color: white;
}

	





